[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Sony Honami Maintainers
	label-Verified = -1..+1 group Sony Honami Maintainers
	submit = group Sony Honami Maintainers
	create = group Sony Honami Maintainers
	push = +force group Sony Honami Maintainers
	pushMerge = group Sony Honami Maintainers
